body {
    background-color: rgba(132, 30, 132, 0.778);
    color: rgb(255, 240, 240);
}


h1 {
    text-align: center;
}

h2,p {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
}

a {
    color: rgba(169, 42, 204, 0.979);
}

ul,ol {
    font-size: 17px;
    margin: 5px;
}

.content {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}


.content-left {
    align-items: center;
    flex-direction: row;
    border: solid 7px rgba(130, 50, 188, 0.808);
    border-radius: 5px;
    background-image: url(фон.jpg);
    margin: 5px;
    padding: 5px;
    width: 600px;
}

.content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 7px rgba(130, 50, 188, 0.808);
    border-radius: 5px;
    background-image: url(фон.jpg);
    margin: 5px;
    padding: 5px;
    width: 600px;
}

img {
    width: 350px;
    height: 520px;
}